@tailwind base;
@tailwind components;
@tailwind utilities;

/* below is attempted fix to raspi scrollbar issue */

html,
body,
#root {
    height: 100%;
}

body {
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

input,
textarea {
    -webkit-user-select: text;
    user-select: text;
}

.touch-scroll {
    height: 100vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-y;
}

.touch-scroll::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}